@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.856);
    margin: 0;
    padding: 0;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}
img#yt, img#home, img#github, img#insta, img#twitter, img#facebook {
    margin: 10px;
    top: 100px;
    right: 100px;
    z-index: 1000;
    border-radius: 100%;
    width: 70px;
    position: center;
}

section {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 10px 10px 0;
}
iframe {
    border: none;
    width: 311px;
    height: 627px;
}
